<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.6.6823.24527" targetFramework="net461" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net461" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net461" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net461" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net461" />
  <package id="CrystalReports.FlashControlV71" version="13.0.3501" targetFramework="net461" />
  <package id="Eramake.eCryptography" version="1.1.6" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net461" />
  <package id="Tulpep.NotificationWindow" version="1.1.25" targetFramework="net461" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net461" />
</packages>